{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

  {% block stylesheets %}          
       <link rel="stylesheet" href="/css/form.css">
    {% endblock %}

{% block body %}

<div class="grid__form">

    <header>
        {% include '/partials/_navbar.html.twig' %}
        
          {% for message in app.flashes('success') %}
            <div class="flash-notice container">
                {{ message }}
            </div>
        {% endfor %}
    </header>

    <main class="form__container">
    
        <section class="form__wrapper">
            <div class="block__text">
                <p>Le Quai Antique</p>
            </div>
            <div class="block__form">
                <form method="post" class="form__content">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="title__menu pad-y--small center">S'identifier</h1>
                    <label for="inputEmail" class="text--regular">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder='votreemail@mail.fr'required autofocus>
                    <label for="inputPassword" class="text--regular">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="password" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                    <button class="form__btn btn__connect text--regular" type="submit">
                        Se Connecter
                    </button>
                    <p class="size--xs text--regular pad-top--small underline"><a href="{{ path('app_askpassword') }}">Mot de passe oublie ?</a></p>
                    <p class="size--xs text--light pad-y--small">Pas de compte ? <a href="{{ path('app_subscribe')}}" class="text--underline"> S'inscrire </a> </p>
                </form>
            </div>
        </section>
    
    </main>

    <footer>
         {% include '/partials/_footer.html.twig' %}
    </footer>
</div>
{% endblock %}
