
 
 <table>
        <tbody>
        {% for open in schedule %}
            <tr>
                <td>{{ open.day}}</td>
                <td>{{open.lunchstart|format_datetime('none', 'short', locale='fr')}} à {{open.lunchend|format_datetime('none', 'short', locale='fr')}}</td>
                <td>{{open.dinnerstart|format_datetime('none', 'short', locale='fr')}} à {{open.dinnerend|format_datetime('none', 'short', locale='fr')}}</td>
            </tr>
        {% endfor %}
       
        </tbody>
 </table>