{% extends 'base.html.twig' %}

{% block title %}Nos Menus{% endblock %}

{% block body %}

    <header>
            {% include '/partials/_navbar.html.twig' %}

            <div class="header__img menus_bg">
            </div>

            <section class="header__content">
                <h1 class="main__title">Nos Menus</h1>
                <p class="text--regular pad-top--middle">Le chef vous propose de partager une agréable moment gustative dans un cadre idélique...</p>
            </section>
    </header>

    <main class="container">
    
        {% for menu in menus %}
        <section class="box__wrapper center">

            <div class="box__img img__border img__border--left">
                <img src="{{ asset('img/menus/'~ menu.urlimage) }}" alt="chef etoilé">
            </div>
            <article class="box__content">
                <div class="box__desc">
                    <h2 class="second__title">{{menu.title}}</h2>
    
                    <h3 class="text--bold pad-y--small text__color--secondary">ENTREE</h3>
                    <ul class="text__menu--regular">
                        {% for entree in menu.entree %}
                          <li>{{entree.title}}</li>
                        {% endfor %}
                    </ul>
                    
                    <h3 class="text--bold pad-y--small text__color--secondary">PLATS</h3>
                    <ul class="text__menu--regular">
                        {% for meals in menu.meals %}
                          <li>{{meals.title}}</li>
                        {% endfor %}
                    </ul>
                    
                    <h3 class="text--bold pad-y--small text__color--secondary">DESSERTS</h3>
                    <ul class="text__menu--regular">
                         {% for dessert in menu.dessert %}
                          <li>{{dessert.title}}</li>
                        {% endfor %}
                    </ul>
                 
                    <p class="text--bold pad-y--small">-- {{ menu.price}} €</p>

                </div>
            </article>
        </section>
        {% endfor %}

    </main>

    <footer>
         {% include '/partials/_footer.html.twig' %}
    </footer>

{% endblock %}
