<div>Midi</div>

<ul class="d-flex--wrap">
         <li class="list__time" >{{ test|date('H:m') }}</li> 
         <li class="list__time" >{{ test|date('H:m') }}</li> 
         <li class="list__time" >{{ test|date('H:m') }}</li> 
          <li class="list__time" >{{ test|date('H:m') }}</li> 
           <li class="list__time" >{{ test|date('H:m') }}</li> 
            <li class="list__time" >{{ test|date('H:m') }}</li> 
             <li class="list__time" >{{ test|date('H:m') }}</li> 
               <li class="list__time" >{{ test|date('H:m') }}</li> 
         <li class="list__time" >{{ test|date('H:m') }}</li> 
         <li class="list__time" >{{ test|date('H:m') }}</li> 
          <li class="list__time" >{{ test|date('H:m') }}</li> 
           <li class="list__time" >{{ test|date('H:m') }}</li> 
            <li class="list__time" >{{ test|date('H:m') }}</li> 
             <li class="list__time" >{{ test|date('H:m') }}</li>
</ul>

<div>Soir</div>
<div class="d-flex-wrap">

</div>
