{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}


<header>
            {% include '/partials/_navbar.html.twig' %}

            <section class="header__content">
                <h1 class="main__title">Réservation</h1>
            </section>
</header>

<main class="container">


    <section class="progress-bar__wrapper">

        <ul class="progress-bar">
            <li class="step previous">
                <p class="step__number">1</p>
                <p class="step__title">Identification</p>
            </li>
            <li class="step ">
                <p class="step__number current">2</p>
                <p  class="step__title">Reservation</p>
            </li>
              <li class="step ">
                <p class="step__number">3</p>
                <p  class="step__title">Confirmation</p>
            </li>
        </ul>
    </section>

    <section class="form__block">
       <h2 class="step__form">Réserver une table au restaurant</h2>

        <div id="message" class="flash--alert"></div>
        

       <div class="block__wrapper">

            <div class="calendar__date">
                <h2 class="grid__title" >Selectionner une date</h2>
                <div class="grid__calendar">
                    <div class="box item__month">
                        <div class="arrow__left">
                           <i class="icon fa-solid fa-chevron-left"></i> 
                        </div>
                        <span class="current__month"> {{ currentMonth }}</span>
                       <div class="arrow__right">
                           <i class="icon fa-solid fa-chevron-right"></i>
                       </div>
                    </div>
                    <div class=" box days">Lun</div>
                    <div class="box days">Mar</div>
                    <div class=" box days">Mer</div>
                    <div class=" box days">Jeu</div>
                    <div class=" box days">Ven</div>
                    <div class=" box days">Sam</div>
                    <div class=" box days">Dim</div>
                    <div class="grid__calendar item__days">
                        {% for show in showCalendar %} 
                            <div class=" box item__day">{{ show }}</div>
                        {% endfor %}
       
                    </div>
                </div>
            
            </div>

            <div class="calendar__time">
                 <h2 class="grid__title">Selectionner un horaire</h2>
                 
                <div class="time__zone">
                   
                </div>
            </div>


            <div class="user__info">
                <h2 class="grid__title">Votre Réservation</h2>
            {{form_start(form, { 'attr' : {'class' : 'form__step2'}})}}
                <div class="form--error">
                    {{ form_errors(form.Date) }}
                </div>
                <div class="group__date">
                    {{ form_label(form.Date, 'Le')}} 
                    {{ form_widget(form.Date)}}
                    {{ form_label(form.time, 'à')}}
                    {{ form_widget(form.time)}}
                </div>
                    {{ form_label(form.numberPerson, 'Nombre de Couvert')}}
                    {{ form_widget(form.numberPerson, {'attr': {'class': 'form__group'}}) }}
                    {{ form_label(form.Allergy, 'Allergie')}}
                    {{ form_widget(form.Allergy, {'attr': {'class': 'form__group'}}) }}

                    <button type="submit" class="btn btn__form">Reserver</button>
            {{form_end(form)}}
            </div>

       </div>
      
    </section>

</main>

<footer>
     {% include '/partials/_footer.html.twig' %}
</footer>

{% endblock %}

{% block javascripts %}
     <script type="module" src="/js/calendar.js"></script>
{% endblock %}