{% extends 'base.html.twig' %}

{% block title %}Notre Cartes{% endblock %}

{% block body %}

<header>
            {% include '/partials/_navbar.html.twig' %}

            <section class="header__content">
                <h1 class="main__title">Notre Carte du restaurant</h1>
                <p class="text--regular pad-top--middle">Notre carte est renouvellée à chaque saison pour vous offrir de nouvelles saveurs</p>
            </section>
</header>

<main class="container">
     <section class="box__wrapper">
            <article class="box__img pad-y--small img__border img__border--left">
                <img src="/img/entree.jpg" alt="chef etoilé">
            </article>
            <article class="box__content">
                <div class="box__desc">
                    <h2 class="second__title">LES ENTREES</h2>
    
                    <ul class="pad-y--small">

                       {% for entree in entrees %}
                            <li class="item__wrapper pad-y--small">
                                <div class="item__content">
                                    <p class="text__menu--regular">{{entree.title}}</p>
                                    <p class="text--light style--italic">{{entree.description}}</p>
                                </div>
                                <p class="text--bold">{{entree.price}} €</p>
                        </li>
                       {% endfor %} 

                    </ul>
                </div>
            </article>
        </section>
        
        <section class="box__wrapper">
            <article class="box__img pad-y--small img__border img__border--right">
                <img src="/img/plat.jpg" alt="chef etoilé">
            </article>

            <article class="box__content ">
                <div class="box__desc">
                    <h2 class="second__title ">LES PLATS</h2>
    
                    <ul class="pad-y--small">
                      {% for meal in meals %}
                            <li class="item__wrapper pad-y--small">
                                <div class="item__content">
                                    <p class="text__menu--regular">{{meal.title}}</p>
                                    <p class="text--light style--italic">{{meal.description}}</p>
                                </div>
                                <p class="text--bold">{{meal.price}} €</p>
                        </li>
                       {% endfor %} 
                    </ul>
                </div>
            </article>
        </section>
          <section class="box__wrapper">
            <article class="box__img pad-y--small img__border img__border--left">
                <img src="/img/dessert.jpg" alt="chef etoilé">
            </article>
            <article class="box__content">
                <div class="box__desc">
                    <h2 class="second__title ">LES DESSERTS</h2>
    
                    <ul class="pad-y--small">
                        {% for dessert in desserts %}
                            <li class="item__wrapper pad-y--small">
                                  <p class="text__menu--regular">{{dessert.title}}</p>
            
                           
                                 <p class="text--bold">{{dessert.price}} €</p>
                             </li>
                       {% endfor %} 
                    </ul>
                </div>
            </article>
        </section>

</main>

<footer>
     {% include '/partials/_footer.html.twig' %}
</footer>


{% endblock %}
