{% extends 'base.html.twig' %}

{% block title %}Compte Utilisateur{% endblock %}

{% block stylesheets %}          
    <link rel="stylesheet" href="/css/form.css">

{% endblock %}


{% block body %}

  

<div class="grid__form ">
    <header>
        {% include '/partials/_navbar.html.twig' %}
    </header>

    <main class="container">
        <div class="block__info d-flex--btw">
            <h1 class="regular__text" >Bonjour <span class="">{{ app.user.firstname }}</span>  </h1>
            <p class="item__text--light">Date d'inscription : {{ app.user.createdAt| date("d/m/Y")}}</p>
        </div>

         {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}


        <section class="block__cards">
            <h2 class="second__title">Mes Réservations</h2>
            <div class="cards__wrapper d-flex--btw">
                <article class="card">
                    <div class="card__header">
                        <h3>Prochaine Réservation</h3>
                    </div>
                    <div class="card__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Couvert</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in nextBooking %}
                                    <tr>
                                        <td>{{ booking.date|date('d/m/Y')}}</td>
                                        <td>{{ booking.numberPerson }}</td>
                                        <td> <button class="btn btn--danger">ANNULER</button> </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </article>
                <article class="card">
                     <div class="card__header">
                        <h3>Historique</h3>
                    </div>
                    <div class="card__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Couvert</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings %}
                                    <tr>
                                        <td>{{ booking.date|date('d/m/Y')}}</td>
                                        <td>{{ booking.numberPerson }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </article>
            
            </div>
        </section>
         <section class="block__cards">
            <h2 class="second__title">Mes Informations</h2>
            <div class="cards__wrapper d-flex--btw">
                <article class="card">
                    <div class="card__header">
                        <h3>Coordonnées</h3>
                    </div>
                    <div class="card__table">
                       <ul class="list__item">
                                <li class="d-flex--btw">
                                    <p>Nom :</p>   
                                    <p> {{ app.user.lastname }}<p>
                                </li>
                                <li class="d-flex--btw">
                                    <p>Prenom :</p>   
                                    <p> {{ app.user.firstname }}<p>
                                </li>
                               <li class="d-flex--btw">
                                    <p>Email :</p>   
                                    <p> {{ app.user.email }}<p>
                                </li>
                       </ul>

                    </div>

                </article>
                <article class="card">
                     <div class="card__header">
                        <h3>Renseignements</h3>
                    </div>
                    <div class="card__table">
                     
                        {{form_start(form, {'action': path('app_customer_modify')})}}
                                <div class="group__form">
                                {{ form_row(form.Allergy) }}
                                </div>
                                <div class="group__form">
                                {{ form_row(form.DefaultPerson) }}
                                </div>
                          
                        {{form_rest(form)}}
                            <button type="submit" class="btn btn--edit">MODIFIER</button>
                        {{form_end(form)}}

                    </div>
                </article>
            
            </div>
        </section>
    </main>

    <footer>
         {% include '/partials/_footer.html.twig' %}
    </footer>
</div>

{% endblock %}
