{% extends 'base.html.twig' %}

{% block title %}Compte Utilisateur{% endblock %}

{% block stylesheets %}          
    <link rel="stylesheet" href="/css/form.css">

{% endblock %}


{% block body %}

  

<div class="grid__form ">

    <!-- MODAL -->
    <div class="modal__wrapper">
        <div class="overlay"></div>
        <div class="modal">
            <h2 class="text--bold">Confirmation :</h2>
            <p class="regular__text">Voulez vous annuler votre réservation ?</p>
            <div class="modal__action">
                <button class="btn btn--valid" id="btn__valid">OUI</button>
                <button class="btn btn--danger" id="btn__cancel">NON</button>
            </div>
        </div>
    
    </div>

    <header>
        {% include '/partials/_navbar.html.twig' %}
    </header>

    <main class="container">
        <div class="block__info d-flex--btw">
            <h1 class="regular__text" >Bonjour <span class="text--effect">{{ app.user.firstname }}</span>  </h1>
            <p class="item__text--light">Date d'inscription : {{ app.user.createdAt| date("d/m/Y")}}</p>
        </div>

         {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}


        <section class="block__cards">
            <h2 class="second__title bg--info">Mes Réservations</h2>
            <div class="cards__wrapper d-flex--btw">
                <article class="card">
                    <div class="card__header">
                        <h3>Prochaine Réservation</h3>
                    </div>
                    <div class="card__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Heure</th>
                                    <th>Couvert</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if nextBooking != null %}
                                {% for booking in nextBooking %}
                                    <tr>
                                        <td>{{ booking.date|date('d/m/Y')}}</td>
                                        <td>{{ booking.time|date('H:i')}}</td>
                                        <td>{{ booking.numberPerson }}</td>
                                        <td> 
                                            <button class="btn btn--danger" 
                                                    id="modalCancel" 
                                                    data-id={{ booking.id }} 
                                                    data-path = "/customer/account/delete">
                                                    ANNULER</button> 
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                    <tr>
                                        <td class="item__text--regular">Pas de reservation </td>
                                    </tr>
                            {% endif %}
                            </tbody>
                        </table>

                    </div>

                </article>
                <article class="card">
                     <div class="card__header">
                        <h3>Historique </h3>
                        <p>Mes 5 dernières réservations</p>
                        
                    </div>
                    <div class="card__table color--line">
                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Heure</th>
                                    <th>Couvert</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings %}
                                    <tr class="item__text--regular">
                                        <td>{{ booking.date|date('d/m/Y')}}</td>
                                          <td>{{ booking.time|date('H:i')}}</td>
                                        <td>{{ booking.numberPerson }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </article>
            
            </div>
        </section>
         <section class="block__cards">
            <h2 class="second__title bg--info">Mes Informations</h2>
            <div class="cards__wrapper d-flex--btw">
                <article class="card">
                    <div class="card__header">
                        <h3>Coordonnées</h3>
                    </div>
                    <div class="card__table">
                        <table class="item__text--regular">
                            <tr>
                                <th>Nom :</th>
                                <td>{{ app.user.lastname }}</td>
                            </tr>
                            <tr>
                                <th>Prénom :</th>
                                <td>{{ app.user.firstname }}</td>
                            </tr>
                            <tr>
                                <th>Email :</th>
                                <td>{{ app.user.email }}</td>
                            </tr>
                        </table>
                    </div>
                </article>

                <article class="card">
                     <div class="card__header">
                        <h3>Renseignements</h3>
                    </div>
                    <div class="card__table">
                     
                        {{form_start(form, {'action': path('app_customer_modify')})}}
                                <div class="group__form item__text--regular">
                                {{ form_row(form.Allergy) }}
                                </div>
                                <div class="group__form item__text--regular">
                                {{ form_row(form.DefaultPerson) }}
                                </div>
                          
                        {{form_rest(form)}}
                            <button type="submit" class="btn btn--edit">MODIFIER</button>
                        {{form_end(form)}}

                    </div>
                </article>
            
            </div>
        </section>
    </main>

    <footer>
         {% include '/partials/_footer.html.twig' %}
    </footer>
</div>

{% endblock %}
